@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
$font1: "Merriweather", serif;

$color1: rgb(243, 232, 212);
$color2: rgb(235, 198, 129);
$color3: rgb(208, 142, 20);
$color4: rgb(246, 161, 3);

$grande: 60px;
$mediana: 40px;
$chica: 16px;

footer {
    background-position: center center;
    text-align: center;
    padding: 25px 10px 25px 10px;
    color: white;
    font-size: $chica+5;
    a:hover {
        text-shadow: 0 0 4px rgb(215, 231, 133);
    }    
    .redes a {
            letter-spacing: 15px;
    font-size: $grande+10;
        }
}